

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');


:root{
    --heig:60px;
    --espa:20px;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #080710;
    display: flex;
    flex-direction: column;
    
}



form{
    opacity: 0;   
    width: 30%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 20px;

    
    padding: 0px 35px;
    
}






@keyframes fadeInBottom {
    from {
        top:100%;
        opacity: 1;
        
    }
    to { opacity: 1;
    top:55%; }
}




form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: var(--espa);
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: var(--heig);
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 25px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-top: 2px white;

}


input {
    border: 1px solid transparent;
    
  }

  
  input:focus {
    outline: none;
    border-color: white;
   
  }


::placeholder{
    color: #e5e5e5;

}
button{
    margin-top: var(--espa);
    max-height: var(--heig);
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    font-weight: lighter;
}

/* For phones */
@media only screen and (max-width: 480px) {
    form{
        opacity: 0;   
        width: 95%;
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 65%;
        left: 50%;
        border-radius: 20px;
    
        
        padding: 0px 35px;
        
    }
    
    
    
    
    
    
    @keyframes fadeInBottom {
        from {
            top:100%;
            opacity: 1;
            
        }
        to { opacity: 1;
        top:65%; }
    }
  }
  
  /* For tablets */
  @media only screen and (min-width: 481px) and (max-width: 1010px) {
    form{
    
        width: 80%;}
  }
  
  /* For desktops */
  @media only screen and (min-width: 1010px) {
    /* Add your desktop styles here */
  }


  form.visible {
    animation-name: fadeInBottom;
    animation-duration: 1s; 
    opacity: 1;
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
    
  }


  video {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.messages{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.success{

    color: green;
}

.error{

    color: red;
}


#section07 a {
    padding-top: 80px;
}
  #section07 a span {
    
    position: absolute;
    margin-top: 70%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  section{
    width: 100%;
  }
  


